.imag{
    height:40vh;
    width:40vw;
}
.container{
    display: flex;
    margin-top: 10px;
    justify-content: center;
    flex-direction:row;
    

}
.discription{
display: flex;
align-items: center;
margin-right: 5px;

}
.imag-container{
    margin-left: 5px;

}