/* .navbar{
    display: flex;
    justify-content: space-around;
    background-color: gray;
    padding: 5px;
    color: white;
    margin-bottom: 30px;
    
   

}
.container1{
background-color: blueviolet;
height: 50vh;
width: 50vw;

display: flex;
justify-content: center;
align-items: center;
}
.container2{
    background-color: rgb(111, 24, 86);
height: 50vh;
width: 50vw;
text-align: center;
display: flex;
justify-content: center;
align-items: center;


}
.menu{
    display: flex;
    margin-top: 10px;
    

} */

.navbar{
    display: flex;
    justify-content: space-around;
    background-color: blue;
    color: beige;
    margin-bottom: 50px;
    padding: 20px;
    
  }

  .container1{
    background-color: rgb(79, 195, 207);
    height:50vh;
    width:50vw;
    display: flex;
    align-items: center;
    justify-content: center;


  }
  .container2{
    background-color: darksalmon;
    height:50vh;
    width:50vw;
    display: flex;
    align-items: center;
    justify-content: center;

  }
  .menu{
    display: flex;
    margin-top: 30px;
  }